@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");

:root {
    /* Primary Colors */
    --color-bg-primary: theme("backgroundColor.body-primary");
    --color-bg-secondary: theme("backgroundColor.body-secondary");
    --color-bg-tertiary: theme("backgroundColor.body-tertiary");

    --color-text-primary: theme("colors.primary");
    --color-text-secondary: theme("colors.secondary");

    --color-border-primary: theme("borderColor.primary");
    --color-border-primary-hover: theme("borderColor.primary_hover");

    /* Button Colors */
    --color-btn-bg-primary: theme("backgroundColor.btn-primary");
}

html,
body {
    position: absolute;
    min-height: 100vh;
    max-width: 100vw;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: theme("fontFamily.sans");
    background: var(--color-bg-primary);
    color: var(--color-text-primary);
    scroll-behavior: smooth;
    scrollbar-width: none;
    z-index: -999999999;
}

a {
    color: inherit;
    text-decoration: none;
}

#__next {
    display: contents;
}

* {
    box-sizing: border-box;
}
